<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Item Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/list.css') }}"
    />
  </head>
  <body>
    <div>
      <form action="/link" method="post">
        <div class="inputGroup">
          <label for="item">Enter a name:</label>
          <input type="text" name="item" required />
        </div>
        <div class="inputGroup">
          <label for="price">Enter an amount:</label>
          <input type="text" name="price" required />
        </div>
        <label for="bid">Set auction preference:</label>
        <fieldset class="inputGroup">
          <label for="sale">List for action</label>
          <input type="radio" name="sale" />
          <label for="sale">List for sale</label>
          <input type="radio" name="sale" />
        </fieldset>
        <div class="inputGroup">
          <input type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
