{%extends 'base.html'%}
{%block title%}
  List Item
{%endblock%}

{%block content%}
    <div>
      <form action="/list" method="post" class="form-register">
        {{ form.csrf_token }}
        <ul>
          <li>
            {{ form.item_name.label }} 
            {{ form.item_name }}
          </li>
          <li>
            {{ form.item_price.label }}
            {{ form.item_price }}
          </li>
          <li>
            {{ form.item_description.label }}
            {{ form.item_description }}
          </li>
          <li>
            {{ form.item_picture.label }}
            {{ form.item_picture }}
          </li>
          <li>
            {{ form.auction_choice.label }}
            {{ form.auction_choice }}
          </li>
          <li>
            <input type="submit" value="List!">
          </li>
        </ul>
      </form>
      <a href="/">Home</a>
    </div>
{%endblock%}
