{%extends 'base.html'%}
{%block title%}
    Profile
{%endblock%}
{%block content%}
<body class="text-center">
    <form method="POST" class="form-delete" style="color: white;">
        {{ delete_user.hidden_tag() }}
        <h4 class="text-center">
        Are you sure you want to delete {{ current_user.username }}?
        </h4>
        <br>
        <input id="deleted_user" name="deleted_user" type="hidden" value="{{current_user.username}}">
        {{ delete_user.submit(class="btn btn-danger") }}
    </form>
</body>
{%endblock%}